---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import { Picture } from '@astrojs/image/components'

const portImage = '/image006.png'

---

<!DOCTYPE html>
<html lang="en">
	<Head title="Portfolio" />
  <body>
    <main class="flex justify-center mx-auto">
      <div class:list={["absolute", "top-0", "right-0", "w-0", "h-0", "triangle_right"]}></div>
      <div class="absolute top-0 left-0 w-[500px] h-[800px] triangle_left flex ">
        <div class="relative top-40">
          <h1 class=" px-8 pt-8 text-6xl font-bold  text-white">Hi,<br> I'm Matt!</h1>
          <p class="text-2xl p-4 text-white w-[30ch]">Front End Developer</p>
        </div>
      </div>
      <svg height="600" width="400">
        <Picture src={portImage} widths={[400]} sizes="" aspectRatio="4:3" formats={['avif', 'jpeg','png','webp']} class="min-[600px]:hidden relative top-[600px] right-[-40px] object-contain triangle_photo" alt="developer"/>
      </svg>
    </main>
  </body>
</html>
<style>
html {
  background-color: #efefef;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.triangle_right {
  z-index: -10;
  border-left: 400px solid transparent;
  border-right: 400px solid #2D3F4E;
  border-bottom: 300px solid transparent;
  border-top: 300px solid transparent;
  
  display: inline-block;
  transform: translateX(10%) translateY(-65%);
  }

.triangle_photo {
  object-position: ;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.triangle_left {
  background-color: #2D3F4E;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  @media only screen and (min-width: 600px) {
    .triangle_left {
      display: none;
    }

    .triangle_right {
      display: none;
    }
  }
</style>