<article
  id="about"
  class="relative flex flex-col min-[600px]:top-[-250px] p-4 min-[600px]:max-w-4xl min-[600px]:justify-center min-[600px]:items-start min-[600px]:mx-auto text-[#13181d] min-[600px]:min-h-screen"
>
  <div class="min-h-[220px] min-[600px]:invisble"></div>
  <h2 class="text-3xl p-4 min-[600px]:text-4xl">About</h2>
  <p
    class="inline pt-4 text-lg leading-6 w-[22ch] max-w-[95%] min-[600px]:w-[55ch] lg:w-[60ch] min-[600px]:text-2xl lg:text-3xl min-[600px]:pt-6"
  >
    Mijn naam is Matthijs van der Plas. Ik heb een passie voor techniek en IT.
    <span
      class="inline text-lg leading-6 w-[30ch] max-w-[95%] min-[600px]:w-[55ch] lg:w-[60ch] min-[600px]:text-2xl lg:text-3xl"
    >
      Een Full Stack Developer met een focus op de Front End.<span
        class="hidden min-[600px]:inline min-[600px]:text-2xl lg:text-3xl"
      >
        Ik ben iemand van de praktijk die zich altijd is blijven ontwikkelen en
        graag problemen tot op de bodem uitzoekt en oplost.
      </span>
    </span>
  </p>
  <p
    class="pt-4 text-lg leading-6 min-[600px]:w-[55ch] max-w-[95%] whitespace-normal min-[600px]:text-2xl lg:w-[60ch] min-[600px]:pt-6 lg:text-3xl"
  >
    Werk graag met de nieuwste en beste technieken, Typescript, React, Redux,
    Tailwindcss en meer.
  </p>
  <p
    class="pt-4 text-lg leading-6 min-[600px]:w-[55ch] min-[600px]:text-2xl lg:w-[60ch] min-[600px]:pt-6 lg:text-3xl"
  >
    Deze site gemaakt met Astro en Svelte. Uitganspunt: goed werkende snelle
    site die responsive is met minimale JavaScript.<span
      class="hidden min-[600xp]:inline min-[600px]:text-2xl lg:text-3xl"
    >
      Focus ligt op Performance, Accessibility, Best Practices en SEO.
    </span>
  </p>
</article>
