<article id="about" class="flex flex-col p-4 text-[#13181d] min-h-screen">
  <div class="min-h-[220px]"></div>
  <h2 class="text-3xl p-4">About</h2>
  <p class="inline pt-4 text-lg leading-6 w-[22ch]">
    Mijn naam is Matthijs van der Plas. Ik heb een passie voor techniek en IT.
  </p><p class="inline text-lg leading-6 w-[30ch]">
    Een Full Stack Developer met een focus op de Front End.
  </p>
  <p class="pt-4 text-lg leading-6">
    Werk graag met de nieuwste en beste technieken, Typescript, React, Redux, Tailwindcss en meer.
  </p>
  <p class="pt-4 text-lg leading-6">
    Deze site gemaakt met Astro en Svelte. Uitganspunt: goed werkende snelle site die responsive is
    met minimale JavaScript.
  </p>
</article>
