---
import Icon from './Icon.astro'
---

<script>
  const width = window.innerWidth
  const icons = document.querySelectorAll('svg')

  if (width > 600) {
    icons.forEach((icon, index) => {
      if (index <= 1 || index >= icons.length - 3) {
        return
      } else {
        icon.classList.remove('w-12', 'h-12')
        icon.classList.add('w-24', 'h-24')
      }
    })
  }
</script>

<article
  id="skills"
  class="flex flex-col pt-4 min-[600px]:pt-16 min-[1000px]:pt-20 justify-center lg:max-w-6xl bg-[#2D3E4F] text-[#efefef] min-[600px]:min-h-screen"
>
  <div class="lg:mx-auto">
    <h2 class="text-3xl p-4 w-full">Skills</h2>
    <div tabindex="0" class="collapse collapse-arrow">
      <div class="collapse-title text-xl">Huidige Skillset:</div>
      <p class="collapse-content text-lg max-w-[70ch]">
        Ik ben een autodidact en leer graag in de praktijk. Via <a
          href="https://www.wincacademy.nl"
          target="_blank"
          class="link">WINC Academy</a
        > volg ik de opleiding tot Full Stack Developer. Daarnaast leer ik graag
        via sites als <a
          href="https://www.udemy.com"
          target="_blank"
          class="link">Udemy</a
        > of via de documentatie van desbetreffende framework, taal, utility.
      </p>
    </div>
    <p class="text-lg pt-4 leading-6 pb-6"></p>
    <div class="grid grid-cols-4 gap-4 lg:gap-10 auto-rows-max">
      <Icon
        name="mdi:language-html5"
        subtext="HTML5"
        size={12}
        color="text-[#e34c26]"
        description="HTML5, semantic HTML, Basics"
      />
      <Icon
        name="mdi:language-css3"
        subtext="CSS3"
        size={12}
        color="text-[#264de4]"
      />
      <Icon
        name="mdi:language-javascript"
        subtext="JavaScript"
        size={12}
        color="text-[#F0DB4F]"
      />
      <Icon
        name="mdi:language-typescript"
        subtext="TypeScript"
        size={12}
        color="text-[#007acc]"
      />
      <Icon name="logos:python" subtext="Python" size={12} />
      <Icon name="carbon:sql" subtext="SQL" size={12} color="text-[#00758F]" />
      <Icon name="mdi:react" subtext="React" size={12} color="text-[#62DBFB]" />
      <Icon
        name="simple-icons:redux"
        subtext="Redux"
        size={12}
        color="text-[#764abc]"
      />
      <Icon name="mdi:git" subtext="Git" size={12} color="text-[#F1502F]" />
      <Icon
        name="mdi:tailwind"
        subtext="Tailwind"
        size={12}
        color="text-[#38bdf8]"
      />
    </div>
    <div tabindex="0" class="collapse collapse-arrow pt-6">
      <h3 class="collapse-title text-xl">In Progress:</h3>
      <p class="collapse-content text-lg max-w-[70ch]">
        Onderstaande talen/frameworks zal ik binnenkort toevoegen aan mijn
        skillset.
      </p>
    </div>
    <div class="grid grid-cols-4 gap-4 auto-rows-max">
      <Icon
        name="teenyicons:c-sharp-solid"
        subtext="C-Sharp"
        size={12}
        color="text-[#264de4]"
      />
      <Icon name="mdi:dot-net" subtext=".NET" size={12} />
      <Icon name="la:node" subtext="NodeJS" size={12} color="text-[#3c873a]" />
      <Icon name="logos:nextjs-icon" subtext="Next.JS" size={12} />
      <Icon name="logos:mongodb" subtext="MongoDB" size={12} />
      <Icon name="logos:postgresql" subtext="PostgreSQL" size={12} />
    </div>
  </div>
</article>
